.refined-search-enter {
  animation: slideInDown 1s ease-out forwards;
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.refined-search-container {
  overflow: visible;
  max-width: "600px";
  margin: "40px auto"
}

.rw-popup {
  z-index: 2000 !important;
}

.rw-popup-container {
  position: absolute;
  z-index: 2000;
}

.search-form--mini {
  padding: 0.25rem 0;
}

.search-form--mini .form-label {
  margin-bottom: 0.25rem;
}

.search-form--mini .input-group,
.search-form--mini .form-control,
.search-form--mini .form-select {
  min-height: 2.75rem;
}

.search-form--mini button.btn {
  min-height: 2.75rem;
}
