* {
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  padding: 30px;
}

.search-container {
  display: flex;
  text-align: center;
  padding: 20px;
  flex-direction: column;
  border: 2px solid #f2f2f2;
  width: fit-content;
  margin: auto;
  border-radius: 15px;
  color: rgb(0, 100, 245);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}
label {
  color: black;
}

input[type="text"] {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  font-size: 28px;
  text-align: center;
  width: 280px;
  outline: 0;
  flex-grow: 1;
  font-weight: 200;
  margin: 10px;
}

button {
  background-color: rgb(0, 100, 245);
  color: white;
  border-radius: 10px;
  font-size: 28px;
  padding: 10px;
  cursor: pointer;
  transition: 0s;
  margin: 12px;
}

button:hover {
  background-color: rgb(0, 80, 199);
}

.container {
  display: flex;
  width: 100%;
  margin-top: 50px;
  column-gap: 30px;
}

.all-items {
  width: 65%;
  padding: 20px 30px;
  background-color: #f2f2f2;
  border-radius: 25px;
  position: relative;
}

.all-items .gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

.all-items .gallery .card:hover,
.favorites .gallery .card:hover,
.activities .gallery .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.all-items .gallery .card .description h3,
.favorites .gallery .card .description h3 {
  font-size: 16px;
  margin: 0px;
}

.favorites {
  width: 35%;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 25px;
  position: relative;
}

.favorites .gallery {
  display: flex;
  flex-flow: column;
  gap: 30px;
}

.favorites .gallery .card {
  cursor: pointer;
  height: min-content;
  border-radius: 15px;
  background-color: white;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 8px;
  display: flex;
  gap: 20px;
}

.favorites .gallery .card .image {
  height: 100%;
}
.favorites .gallery .card img {
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 160px;
  height: 100%;
  object-fit: cover;
}

.favorites .gallery .card .description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.all-items .gallery .card {
  cursor: pointer;
  flex: 1 0 260px;
  gap: 5px;
  height: 550px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.all-items .gallery .card .image {
  height: 70%;
  overflow: hidden;
}

.all-items .gallery .card img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.all-items .gallery .card .description,
.favorites .gallery.card .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: min-content;
  line-height: 25px;
  padding-left: 8px;
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .container {
    flex-flow: column nowrap;
  }

  .all-items {
    background-color: white;
    width: 100%;
    padding: 30px 20px;
  }
  .all-items .gallery {
    flex-flow: column;
    gap: 20px;
  }
  .all-items .gallery .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .favorites {
    order: -1;
    width: 100%;
  }
}

